<script>
    (function($) {
        $(document).ready(function() {
            // Upon clicking the find button, show the find dropdown content
            $(".btn-find").click(function () {
                $(".find-pf-dropdown-container").toggle();
            });
            // Upon clicking the find close button, hide the find dropdown content
            $(".btn-find-close").click(function () {
                $(".find-pf-dropdown-container").hide();
            });

        });
    })(jQuery);
</script>

<div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div data-link="details.html" class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <span class="fa fa-birthday-cake card-pf-icon-circle"></span>
                    </div>
                    <h2 class="card-pf-title text-center">
                        Cake Service
                    </h2>
                    <div class="card-pf-items text-center">
                        <div class="card-pf-item">
                            <span class="pficon pficon-screen"></span>
                            <span class="card-pf-item-text">8</span>
                        </div>
                        <div class="card-pf-item">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                    <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br/> Never Expires</p>
                </div>
                <div class="card-pf-view-checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        // matchHeight the contents of each .card-pf and then the .card-pf itself
        $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    });
    $(document).ready(function() {
        // Card Multi Select
        $('input[type=checkbox]').click(function() {
            if ($(this).parent().parent().hasClass('active'))
            { $(this).parent().parent().removeClass('active'); }
            else
            { $(this).parent().parent().addClass('active'); }
        });

        // Card navigation to contents/details page
        $(".card-pf").click(function(e){
            var target = e.target;
            //check if clicked element is a div, and not <a>, button or input
            if($(target).is('div')) {
                window.location = $(this).data("link");
            }
        });

    });
</script>
